@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.container {
    margin: 50px 0;
}

.loading {
    margin-top: 2rem;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}

.card {
    margin: 0 2% !important;
}

.icon {
    margin-bottom: 0.5rem;
}

.text {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.infected{
    border-top: 10px solid blue;
}

.recovered{
    border-top: 10px solid green;
}

.deaths{
    border-top: 10px solid red;
}

@media(max-width: 800px) {
    .card {
        margin: 2% 0 !important;
    }
}
