@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
    background-color: rgb(233, 231, 231);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: 2rem;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.github{
    max-width: 4rem;
    margin-top: 0.5rem;
}

.img {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 0.2rem;
    max-width: 3rem;
    max-height: 3rem;
}


.email {
    margin-top: 2rem;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.footer {
    margin-top: 5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(96, 95, 128);
}
